In [1]:
import pandas as pd

In [2]:
l=["High", "Medium", "Low", "Low", "High"]

In [9]:
df=pd.DataFrame(l, columns = ["Risk"])

In [10]:
df

     Risk
0    High
1  Medium
2     Low
3     Low
4    High

In [12]:
x=pd.get_dummies(df, prefix_sep = "#")

In [13]:
x["Risk"]=df["Risk"]

In [17]:
x=x[['Risk','Risk#High','Risk#Medium','Risk#Low'  ]]
x

     Risk  Risk#High  Risk#Medium  Risk#Low
0    High          1            0         0
1  Medium          0            1         0
2     Low          0            0         1
3     Low          0            0         1
4    High          1            0         0

In [18]:
from sklearn.preprocessing import OneHotEncoder

In [19]:
enc = OneHotEncoder()