In [7]:
import pandas as pd
import random
import statistics as stat

In [2]:
data = pd.read_excel(r'./copia de Module2_Use_Case_2.xlsx')
data.head()

     ID  Salary Gender_cat
0   1.0  3326.0       Male
1   4.0  7328.0       Male
2   9.0  5751.0       Male
3  11.0  6702.0       Male
4  15.0  7631.0       Male

In [3]:

data[['Gender_cat']].value_counts()

Gender_cat
Male          349
Female        341
dtype: int64

In [4]:
print("male:")
print(69*349/690)
print("female:")
print(69*341/690)

male:
34.9
female:
34.1

In [5]:
male_samp = data['Salary'].loc[data['Gender_cat'] == 'Male'].sample(35)
female_samp = data['Salary'].loc[data['Gender_cat'] == 'Female'].sample(34)

In [9]:
print("this is the mean of male: ", stat.mean(male_samp))
print("this is the mean of female: ", stat.mean(female_samp))

this is the mean of male:  5644.914285714286
this is the mean of female:  6647.529411764706

In [11]:
print("this is the median of male: ", stat.median(male_samp))
print("this is the median of female: ", stat.median(female_samp))

this is the median of male:  5765.0
this is the median of female:  6723.0

In [12]:
print("this is the mode of male: ", stat.mode(male_samp))
print("this is the mode of female: ", stat.mode(female_samp))

this is the mode of male:  6110.0
this is the mode of female:  4290.0