-- Write only the SQL statement that solves the problem and nothing else

SELECT name
FROM cities 
GROUP BY name
ORDER BY name DESC
;

-- Write only the SQL statement that solves the problem and nothing else
SELECT pi.userId as userId, pi.avg_durat
FROM 
(SELECT userId, AVG(duration) as avg_durat, count(userId) as con_I
 FROM sessions
GROUP BY userId
 ) as pi
 WHERE pi.con_I > 1
;

<!-- -- Write only the SQL statement that solves the problem and nothing else
SELECT i.name, s.name
FROM items i
LEFT JOIN sellers s
ON i.sellerid = s.id
WHERE rating > 4; -->

-- Write only the SQL statement that solves the problem and nothing else
SELECT i.name, s.name
FROM items i
LEFT JOIN sellers s
ON i.sellerid = s.id
WHERE rating > 4;