In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
rent=pd.read_excel(r"/Users/jaimesastrecrespo/DAFT_1022/Module_1/Project_Week_3_Data-Preparation/Project 10 -Spain renting.xlsx")

### Examine the data for potential issues (missing data, data inconsistency, outliers, duplicates etc) and cleaning.

In [2]:
rent.head()

,Column1,provincia,comunidad autonoma,titulo,precio,habitaciones,metros,total inmuebles/comunidad
0,0,La Coruña,Galicia,NaN,NaN,NaN,NaN,1751
1,1,La Coruña,Galicia,"Chalet pareado en A Zapateira, Culleredo",1100.0,4.0,243,1751
2,2,La Coruña,Galicia,"Chalet pareado en Elviña - A Zapateira, A Coruña",1100.0,4.0,243,1751
3,3,La Coruña,Galicia,"Ático en avenida Pasaxe, 35, Los Castros - Cas...",450.0,NaN,Planta 4ª exterior con ascen,1751
4,4,La Coruña,Galicia,"Piso en calle de Fernando III o Santo, 9, Ensa...",1000.0,4.0,100,1751

In [3]:
rent.shape

(79749, 8)

In [4]:
print(rent["Column1"].nunique(),"Column1" )
print(rent["provincia"].nunique(), "provincia")
print(rent["comunidad autonoma"].nunique(),"comunidad autonoma")
print(rent["titulo"].nunique(),"titulo")
print(rent["precio"].nunique(),"precio")
print(rent["habitaciones"].nunique(),"habitaciones")
print(rent["metros"].nunique(),"metros")
print(rent["total inmuebles/comunidad"].nunique(),"total inmuebles/comunidad")

79749 Column1
53 provincia
20 comunidad autonoma
36502 titulo
834 precio
24 habitaciones
720 metros
53 total inmuebles/comunidad

In [5]:
# show null/NA values per column
rent.isnull().sum()

Column1                         0
provincia                       2
comunidad autonoma              7
titulo                          8
precio                          4
habitaciones                 3707
metros                         15
total inmuebles/comunidad       0
dtype: int64

In [6]:
#Finding the rows with more than one NaN value
rent_nan2 = rent.loc[rent.isnull().sum(1)>1].index
print(rent_nan2)
rent_nan2.value_counts().sum()

Int64Index([    0,  6435, 26136, 30775, 31019, 31043, 34376, 34377, 34391,
            34392, 70341, 79703, 79704, 79709],
           dtype='int64')

14

In [7]:
#dropping the rows with more than one missing values
rent2= rent.drop(rent_nan2)

In [8]:
rent2.head()

,Column1,provincia,comunidad autonoma,titulo,precio,habitaciones,metros,total inmuebles/comunidad
1,1,La Coruña,Galicia,"Chalet pareado en A Zapateira, Culleredo",1100.0,4.0,243,1751
2,2,La Coruña,Galicia,"Chalet pareado en Elviña - A Zapateira, A Coruña",1100.0,4.0,243,1751
3,3,La Coruña,Galicia,"Ático en avenida Pasaxe, 35, Los Castros - Cas...",450.0,NaN,Planta 4ª exterior con ascen,1751
4,4,La Coruña,Galicia,"Piso en calle de Fernando III o Santo, 9, Ensa...",1000.0,4.0,100,1751
5,5,La Coruña,Galicia,"Piso en calle Manuel Jesús Méndez Búa, s/n, Ca...",450.0,2.0,76,1751

In [9]:
#Finding the rows with more than one NaN value
rent_nan3 = rent2.loc[rent.isnull().sum(1)>1].index
print(rent_nan3)
rent_nan3.value_counts().sum()

Int64Index([], dtype='int64')

0

In [10]:
print(rent2[rent2['comunidad autonoma'].isnull()])

       Column1 provincia comunidad autonoma  \
79726    79726  Zaragoza                NaN
79740    79740  Zaragoza                NaN

                                                  titulo  precio  \
79726  Piso en calle vicente monforte, 10, San José, ...   655.0
79740  Piso en calle Madre Sacramento, 1, Doctor Cerr...   700.0

       habitaciones metros  total inmuebles/comunidad
79726           2.0     60                       1277
79740           2.0     70                       1277

In [11]:
#replacing NaN values from comunidad autonoma by provincia
rent2.loc[rent2['comunidad autonoma'].isnull(),'comunidad autonoma'] = rent2["provincia"]

In [12]:
#finding duplicates rows
rent2.duplicated().sum()

0

In [13]:
# show null/NA values per column
rent2.isnull().sum()

Column1                         0
provincia                       1
comunidad autonoma              0
titulo                          0
precio                          0
habitaciones                 3696
metros                          5
total inmuebles/comunidad       0
dtype: int64

In [14]:
print(rent2[rent2['provincia'].isnull()])

       Column1 provincia comunidad autonoma  \
79743    79743       NaN             Aragon

                                                  titulo  precio  \
79743  Piso en calle santa teresa de jesus, 2, Univer...   750.0

       habitaciones metros  total inmuebles/comunidad
79743           3.0     90                       1277

In [15]:
print(rent2.loc[79743, ['titulo']]['titulo'])

Piso en calle santa teresa de jesus, 2, Universidad San Francisco, Zaragoza

In [16]:
#from titulo, which is the whole address, take the last element after splitting by commas, to know the city 
rent2['ciudad'] = rent2['titulo'].str.split(',').str[-1]

In [17]:
rent2.head()

,Column1,provincia,comunidad autonoma,titulo,precio,habitaciones,metros,total inmuebles/comunidad,ciudad
1,1,La Coruña,Galicia,"Chalet pareado en A Zapateira, Culleredo",1100.0,4.0,243,1751,Culleredo
2,2,La Coruña,Galicia,"Chalet pareado en Elviña - A Zapateira, A Coruña",1100.0,4.0,243,1751,A Coruña
3,3,La Coruña,Galicia,"Ático en avenida Pasaxe, 35, Los Castros - Cas...",450.0,NaN,Planta 4ª exterior con ascen,1751,A Coruña
4,4,La Coruña,Galicia,"Piso en calle de Fernando III o Santo, 9, Ensa...",1000.0,4.0,100,1751,Santiago de Compostela
5,5,La Coruña,Galicia,"Piso en calle Manuel Jesús Méndez Búa, s/n, Ca...",450.0,2.0,76,1751,Carral

In [18]:
#replacing NaN values from provincia by comunidad autonoma
rent2.loc[rent2['provincia'].isnull(),'provincia'] = rent2["ciudad"]

In [19]:
print(rent2.loc[79743])

Column1                                                                  79743
provincia                                                             Zaragoza
comunidad autonoma                                                      Aragon
titulo                       Piso en calle santa teresa de jesus, 2, Univer...
precio                                                                   750.0
habitaciones                                                               3.0
metros                                                                      90
total inmuebles/comunidad                                                 1277
ciudad                                                                Zaragoza
Name: 79743, dtype: object

In [20]:
rent2.head()

,Column1,provincia,comunidad autonoma,titulo,precio,habitaciones,metros,total inmuebles/comunidad,ciudad
1,1,La Coruña,Galicia,"Chalet pareado en A Zapateira, Culleredo",1100.0,4.0,243,1751,Culleredo
2,2,La Coruña,Galicia,"Chalet pareado en Elviña - A Zapateira, A Coruña",1100.0,4.0,243,1751,A Coruña
3,3,La Coruña,Galicia,"Ático en avenida Pasaxe, 35, Los Castros - Cas...",450.0,NaN,Planta 4ª exterior con ascen,1751,A Coruña
4,4,La Coruña,Galicia,"Piso en calle de Fernando III o Santo, 9, Ensa...",1000.0,4.0,100,1751,Santiago de Compostela
5,5,La Coruña,Galicia,"Piso en calle Manuel Jesús Méndez Búa, s/n, Ca...",450.0,2.0,76,1751,Carral

In [21]:
rent2.rename(columns={'titulo':'direccion'}, inplace=True)
rent2.rename(columns={'comunidad autonoma':'comunidad_autonoma'}, inplace=True)
rent2.rename(columns={'total inmuebles/comunidad':'total_inmuebles/comunidad'}, inplace=True)
rent2.rename(columns={'Column1':'indice'}, inplace=True)

In [22]:
rent2.head()

,indice,provincia,comunidad_autonoma,direccion,precio,habitaciones,metros,total_inmuebles/comunidad,ciudad
1,1,La Coruña,Galicia,"Chalet pareado en A Zapateira, Culleredo",1100.0,4.0,243,1751,Culleredo
2,2,La Coruña,Galicia,"Chalet pareado en Elviña - A Zapateira, A Coruña",1100.0,4.0,243,1751,A Coruña
3,3,La Coruña,Galicia,"Ático en avenida Pasaxe, 35, Los Castros - Cas...",450.0,NaN,Planta 4ª exterior con ascen,1751,A Coruña
4,4,La Coruña,Galicia,"Piso en calle de Fernando III o Santo, 9, Ensa...",1000.0,4.0,100,1751,Santiago de Compostela
5,5,La Coruña,Galicia,"Piso en calle Manuel Jesús Méndez Búa, s/n, Ca...",450.0,2.0,76,1751,Carral

In [23]:
# show null/NA values per column
rent2.isnull().sum()

indice                          0
provincia                       0
comunidad_autonoma              0
direccion                       0
precio                          0
habitaciones                 3696
metros                          5
total_inmuebles/comunidad       0
ciudad                          0
dtype: int64

In [24]:
# show null/NA values per column
rent2.isnull().sum()

indice                          0
provincia                       0
comunidad_autonoma              0
direccion                       0
precio                          0
habitaciones                 3696
metros                          5
total_inmuebles/comunidad       0
ciudad                          0
dtype: int64

In [25]:

print(rent2[rent2['metros'].isnull()])

       indice                   provincia  comunidad_autonoma  \
658       658                   La Coruña             Galicia
24965   24965                   Cantabria           Cantabria
27447   27447                 Ciudad Real  Castilla La Mancha
28757   28757                      Cuenca  Castilla La Mancha
37045   37045  Las Palmas de Gran Canaria            Canarias

                                               direccion  precio  \
658    Casa o chalet independiente en Lugar Seixas, 7...   650.0
24965  Casa o chalet independiente en lepanto, 10, El...  5000.0
27447  Casa de pueblo en plaza de San Juan, 6, Villan...   650.0
28757  Castillo en calle Palomar, 1, Valhermoso de la...   200.0
37045  Casa o chalet independiente en Montaña Roja, 1...  1200.0

       habitaciones metros  total_inmuebles/comunidad  \
658             3.0    NaN                       1751
24965           6.0    NaN                       1275
27447           4.0    NaN                        554
28757           3.0    NaN                        115
37045           1.0    NaN                       1743

                            ciudad
658                        Monfero
24965                 El Astillero
27447   Villanueva de los Infantes
28757      Valhermoso de la Fuente
37045                        Yaiza

In [26]:
#dropping the rows with missing values in metros column to be able to replace the strings with Nan values in that column and then, 
#if there aren't a lot (less than 7000 rows), drop that rows too and take an average between metros and rooms to replace de nan values
# of the rooms column
rent2.drop([658], inplace= True)
rent2.drop([24965], inplace= True)
rent2.drop([27447], inplace= True)
rent2.drop([28757], inplace= True)
rent2.drop([37045], inplace= True)

In [27]:
print(rent2[rent2['metros'].isnull()])

Empty DataFrame
Columns: [indice, provincia, comunidad_autonoma, direccion, precio, habitaciones, metros, total_inmuebles/comunidad, ciudad]
Index: []

In [28]:
# show null/NA values per column
rent2.isnull().sum()

indice                          0
provincia                       0
comunidad_autonoma              0
direccion                       0
precio                          0
habitaciones                 3696
metros                          0
total_inmuebles/comunidad       0
ciudad                          0
dtype: int64

In [29]:
#find non numeric values in the column metros
rent2['metros'] = pd.to_numeric(rent2['metros'], errors='coerce')

In [30]:
# show null/NA values per column
rent2.isnull().sum()

indice                          0
provincia                       0
comunidad_autonoma              0
direccion                       0
precio                          0
habitaciones                 3696
metros                       4002
total_inmuebles/comunidad       0
ciudad                          0
dtype: int64

In [31]:
rent_nan4 = rent2.loc[rent2.isnull().sum(1)>1].index
print(rent_nan4)
rent_nan4.value_counts().sum()

Int64Index([    3,    66,   103,   111,   125,   341,   408,   696,   698,
              743,
            ...
            78935, 78984, 78992, 79091, 79284, 79302, 79432, 79631, 79689,
            79707],
           dtype='int64', length=3696)

3696

In [32]:
rent2.drop(rent_nan4, inplace=True)

In [33]:
# show null/NA values per column
rent2.isnull().sum()

indice                         0
provincia                      0
comunidad_autonoma             0
direccion                      0
precio                         0
habitaciones                   0
metros                       306
total_inmuebles/comunidad      0
ciudad                         0
dtype: int64

In [34]:
rent2[['precio','habitaciones','metros','total_inmuebles/comunidad' ]].corr()

,precio,habitaciones,metros,total_inmuebles/comunidad
precio,1.000000,0.252328,0.191173,0.119026
habitaciones,0.252328,1.000000,0.240437,-0.125700
metros,0.191173,0.240437,1.000000,-0.017772
total_inmuebles/comunidad,0.119026,-0.125700,-0.017772,1.000000

In [35]:
rent2.describe()

,indice,precio,habitaciones,metros,total_inmuebles/comunidad
count,76034.000000,76034.000000,76034.000000,75728.000000,76034.000000
mean,39603.852027,1279.777008,2.476129,105.740293,6145.926638
std,23248.750345,1694.785492,1.417906,197.879154,6367.652060
min,1.000000,0.000000,0.000000,1.000000,0.000000
25%,19310.250000,650.000000,2.000000,65.000000,1345.000000
50%,38980.500000,900.000000,2.000000,84.000000,3115.000000
75%,60068.750000,1400.000000,3.000000,114.000000,9455.000000
max,79748.000000,100000.000000,230.000000,50000.000000,17589.000000

In [36]:
#finding outliers from precio. A rent can not be for free but we can have a price of 100.000 euros
precio_out = rent2[rent2['precio'] <= np.quantile(rent2['precio'], 0.00001)]
precio_out

,indice,provincia,comunidad_autonoma,direccion,precio,habitaciones,metros,total_inmuebles/comunidad,ciudad
34358,34358,Huesca,Aragon,"Piso en calle de Francia, 12, Sallent de Gallego",0.0,4.0,122.0,260,Sallent de Gallego
34361,34361,Huesca,Aragon,"Dúplex en Urbanización Espata R5, 13, Villanúa",0.0,2.0,57.0,4444,Villanúa

In [37]:
rent2.drop([34358], inplace= True)
rent2.drop([34361], inplace= True)

In [38]:
habitaciones_out = rent2[rent2['habitaciones'] <= np.quantile(rent2['habitaciones'], 0.00001)]
habitaciones_out

,indice,provincia,comunidad_autonoma,direccion,precio,habitaciones,metros,total_inmuebles/comunidad,ciudad
34352,34352,Huesca,Aragon,"Piso en calle Escuelas, 10, Biscarrués",350.0,0.0,50000.0,260,Biscarrués
34360,34360,Huesca,Aragon,"Casa de pueblo en calle Escuelas, 7, Biscarrués",350.0,0.0,100.0,260,Biscarrués
34384,34384,Huesca,Aragon,"Piso en Santiago, Huesca",680.0,0.0,100.0,260,Huesca

In [39]:
rent2.drop([34352], inplace= True)
rent2.drop([34360], inplace= True)
rent2.drop([34384], inplace= True)

In [40]:
rent2[['precio','habitaciones','metros','total_inmuebles/comunidad']].corr()

,precio,habitaciones,metros,total_inmuebles/comunidad
precio,1.000000,0.252322,0.481836,0.119000
habitaciones,0.252322,1.000000,0.618232,-0.125763
metros,0.481836,0.618232,1.000000,-0.036710
total_inmuebles/comunidad,0.119000,-0.125763,-0.036710,1.000000

In [41]:
totalinm_out = rent2[rent2['total_inmuebles/comunidad'] <= np.quantile(rent2['total_inmuebles/comunidad'], 0.00001)]
totalinm_out

,indice,provincia,comunidad_autonoma,direccion,precio,habitaciones,metros,total_inmuebles/comunidad,ciudad
34354,34354,Huesca,Aragon,"Piso en carretera Pamplona, 2, Puente la Reina...",360.0,2.0,65.0,0,Puente la Reina de Jaca

In [42]:
rent2.drop([34354], inplace= True)

In [43]:
rent2[['precio','habitaciones','metros','total_inmuebles/comunidad']].corr()

,precio,habitaciones,metros,total_inmuebles/comunidad
precio,1.000000,0.252321,0.481834,0.118994
habitaciones,0.252321,1.000000,0.618231,-0.125769
metros,0.481834,0.618231,1.000000,-0.036717
total_inmuebles/comunidad,0.118994,-0.125769,-0.036717,1.000000

In [44]:
habitaciones_max = rent2[rent2['habitaciones'] >= np.quantile(rent2['habitaciones'], 0.99999)]
habitaciones_max

,indice,provincia,comunidad_autonoma,direccion,precio,habitaciones,metros,total_inmuebles/comunidad,ciudad
34351,34351,Huesca,Aragon,"Estudio en calle Barranco, 10, Graus",350.0,230.0,NaN,260,Graus

In [45]:
rent2.drop([34351], inplace= True)

In [46]:
rent2[['precio','habitaciones','metros','total_inmuebles/comunidad']].corr()

,precio,habitaciones,metros,total_inmuebles/comunidad
precio,1.000000,0.311706,0.481834,0.118989
habitaciones,0.311706,1.000000,0.618231,-0.152260
metros,0.481834,0.618231,1.000000,-0.036717
total_inmuebles/comunidad,0.118989,-0.152260,-0.036717,1.000000

In [47]:
rent2.isnull().sum()

indice                         0
provincia                      0
comunidad_autonoma             0
direccion                      0
precio                         0
habitaciones                   0
metros                       305
total_inmuebles/comunidad      0
ciudad                         0
dtype: int64

In [48]:
rent_nan5 = rent2.loc[rent2.isnull().sum(1)>0].index
print(rent_nan5)
rent_nan5.value_counts().sum()

Int64Index([  540,  1500,  1503,  1723,  1753,  2104,  3540,  9408, 10926,
            11280,
            ...
            67985, 71312, 71356, 72438, 72751, 72890, 73165, 73931, 77233,
            79482],
           dtype='int64', length=305)

305

In [49]:
rent2.drop(rent_nan5, inplace=True)

In [50]:
rent2.isnull().sum()

indice                       0
provincia                    0
comunidad_autonoma           0
direccion                    0
precio                       0
habitaciones                 0
metros                       0
total_inmuebles/comunidad    0
ciudad                       0
dtype: int64

In [51]:
rent2 = rent2[rent2['metros'] > np.quantile(rent2['metros'], 0.003)]
rent2

,indice,provincia,comunidad_autonoma,direccion,precio,habitaciones,metros,total_inmuebles/comunidad,ciudad
1,1,La Coruña,Galicia,"Chalet pareado en A Zapateira, Culleredo",1100.0,4.0,243.0,1751,Culleredo
2,2,La Coruña,Galicia,"Chalet pareado en Elviña - A Zapateira, A Coruña",1100.0,4.0,243.0,1751,A Coruña
4,4,La Coruña,Galicia,"Piso en calle de Fernando III o Santo, 9, Ensa...",1000.0,4.0,100.0,1751,Santiago de Compostela
5,5,La Coruña,Galicia,"Piso en calle Manuel Jesús Méndez Búa, s/n, Ca...",450.0,2.0,76.0,1751,Carral
6,6,La Coruña,Galicia,"Piso en Os Mallos, A Coruña",800.0,4.0,100.0,1751,A Coruña
...,...,...,...,...,...,...,...,...,...
79744,79744,Zaragoza,Aragon,"Piso en avenida De San Jose, 15, La Granja, Za...",890.0,3.0,90.0,1277,Zaragoza
79745,79745,Zaragoza,Aragon,"Piso en calle Del parque, 40, Pinares de Venec...",550.0,2.0,70.0,1277,Zaragoza
79746,79746,Zaragoza,Aragon,"Piso en callejón del Perro, 14, La Magdalena, ...",680.0,2.0,45.0,1277,Zaragoza
79747,79747,Zaragoza,Aragon,"Piso en calle Almagro, 10, Doctor Cerrada, Zar...",600.0,1.0,55.0,1277,Zaragoza
79748,79748,Zaragoza,Aragon,"Piso en calle MARQUÉS DE AHUMADA, 15, San José...",750.0,3.0,82.0,1277,Zaragoza

In [52]:
rent2[['precio','habitaciones','metros','total_inmuebles/comunidad']].corr()

,precio,habitaciones,metros,total_inmuebles/comunidad
precio,1.000000,0.303135,0.571388,0.140151
habitaciones,0.303135,1.000000,0.637304,-0.153136
metros,0.571388,0.637304,1.000000,-0.038102
total_inmuebles/comunidad,0.140151,-0.153136,-0.038102,1.000000

In [53]:
rent2['provincia'] = rent2['provincia'].str.lower()
rent2['comunidad_autonoma'] = rent2['comunidad_autonoma'].str.lower()
rent2['ciudad'] = rent2['ciudad'].str.lower()

In [54]:
rent2.drop('direccion', axis=1, inplace= True)

In [55]:
#Rounded the numbers by .astype as an integer
rent2['precio'] = rent2['precio'].astype(int)
rent2['habitaciones'] = rent2['habitaciones'].astype(int)
rent2['metros'] = rent2['metros'].astype(int)

In [56]:
rent2[['precio','habitaciones','metros','total_inmuebles/comunidad']].corr()

,precio,habitaciones,metros,total_inmuebles/comunidad
precio,1.000000,0.303135,0.571388,0.140151
habitaciones,0.303135,1.000000,0.637304,-0.153136
metros,0.571388,0.637304,1.000000,-0.038102
total_inmuebles/comunidad,0.140151,-0.153136,-0.038102,1.000000

In [57]:
rent2.head()

,indice,provincia,comunidad_autonoma,precio,habitaciones,metros,total_inmuebles/comunidad,ciudad
1,1,la coruña,galicia,1100,4,243,1751,culleredo
2,2,la coruña,galicia,1100,4,243,1751,a coruña
4,4,la coruña,galicia,1000,4,100,1751,santiago de compostela
5,5,la coruña,galicia,450,2,76,1751,carral
6,6,la coruña,galicia,800,4,100,1751,a coruña

In [58]:
rent2.to_csv('Spanish_renting.csv')

In [74]:
from sqlalchemy import create_engine
user = 'root'
host = 'localhost'
password = 'contraseña'
port = 3306
database = 'project_3_Spain'

In [75]:
my_conn = create_engine("mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database
        ))

In [76]:
db_conn = my_conn.connect()

OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'root'@'localhost' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
try:
    frame = df.to_sql("fakejobs", db_conn, if_exists='fail')
except ValueError as vx:
    print(vx)
except Exception as ex:
    print(ex)
else:
    print("Table %s created successfully."%"fakejobs");
finally:
    db_conn.close()