In [9]:
import pandas as pd

blood_pressure = pd.read_csv(r'C:\Users\HP\Downloads/blood_pressure.csv')
blood_pressure.head()

       before       after
0  136.713072   92.432965
1  134.735618  105.022643
2  127.529115   82.242766
3  144.527126   93.607172
4  124.214720  103.212223

Use the scipy function ttest_rel. This function is used for hypothesis testing of dependent data.

In [2]:
from scipy.stats import ttest_rel

ttest_rel(blood_pressure.after, blood_pressure.before)

Ttest_relResult(statistic=-27.291841767560236, pvalue=7.303035069608042e-48)

In [3]:
print("{:.50f}".format(ttest_rel(blood_pressure.after, blood_pressure.before).pvalue))

0.00000000000000000000000000000000000000000000000730

Since a matched pairs test is equivalent to a one sample test of the difference, we can also perform a one sample test and get the exact same result.

In [13]:
from scipy.stats import ttest_1samp
ttest_1samp(blood_pressure.after-blood_pressure.before, 0)

Ttest_1sampResult(statistic=-27.291841767560236, pvalue=7.303035069608042e-48)

In [14]:
print("{:.50f}".format(ttest_1samp(blood_pressure.after-blood_pressure.before, 0).pvalue))

0.00000000000000000000000000000000000000000000000730

In [3]:
ab_test = pd.read_csv(r'C:\Users\HP\Downloads/ab_test.csv')
ab_test.head()

       a      b
0   0.27  13.61
1   6.08  21.53
2  13.74   9.23
3   9.70   5.36
4   7.00  12.90

In [5]:
from scipy.stats import ttest_ind

In [6]:
ttest_ind(ab_test.a, ab_test.b)

Ttest_indResult(statistic=-2.637533181209767, pvalue=0.009713140852447347)

In [7]:
ttest_ind(ab_test.a, ab_test.b, equal_var=  True)

Ttest_indResult(statistic=-2.637533181209767, pvalue=0.009713140852447347)

In [8]:
ttest_ind(ab_test.a, ab_test.b, equal_var=  False)

Ttest_indResult(statistic=-2.637533181209767, pvalue=0.009776243024828825)

In [25]:
import pandas as pd
a_group = pd.read_excel(r'C:\Users\HP\Downloads/gA.xlsx')
b_group = pd.read_excel(r'C:\Users\HP\Downloads/gB.xlsx')
from scipy.stats import ttest_ind

In [26]:
a_group.columns

Index(['Unnamed: 0', 'Cashback from big brands', 'Micropayments',
       'Crypto made easy', 'Discounts from local shops',
       'Free money transfers', 'High interest savings', 'participant_id',
       'We're busy building your perfect financial app. ðŸš€\n \n To get early access, a welcome bonus at launch, and the occasional update along the way, enter your email below ðŸ¤‘',
       'Start Date (UTC)', 'Submit Date (UTC)', 'Network ID', 'session_id',
       'status', 'started_datetime', 'completed_date_time', 'time_taken',
       'age', 'num_approvals', 'num_rejections', 'prolific_score',
       'reviewed_at_datetime', 'entered_code', 'Country of Birth',
       'Current Country of Residence', 'Employment Status', 'First Language',
       'Nationality', 'Sex', 'Student Status', 'Waiting list ?', 'Group'],
      dtype='object')

In [27]:

ttest_ind(ab_test.['Cashback from big brands'], ab_test., equal_var=  True)

SyntaxError: invalid syntax (<ipython-input-27-18c798cbd32d>, line 1)

In [30]:

ttest_ind(a_group['Crypto made easy'], 
          b_group['Crypto made easy'], equal_var=  False)

Ttest_indResult(statistic=2.4969634011112944, pvalue=0.012543866019133466)

In [ ]:
alpha=10; 5; 1%

ANOVA

We have observations of car loan interest rates from 6 different cities. 
We would like to show that there is a difference in the rates based on city

In [6]:
import pandas as pd
from scipy.stats import f_oneway

#let's load the dataset
rate = pd.read_csv(r'C:\Users\HP\Downloads/rate_by_city.csv')
rate.head(15)

     Rate  City
0   13.75     1
1   13.75     1
2   13.50     1
3   13.50     1
4   13.00     1
5   13.00     1
6   13.00     1
7   12.75     1
8   12.50     1
9   14.25     2
10  13.00     2
11  12.75     2
12  12.50     2
13  12.50     2
14  12.40     2

To test our hypothesis, we need to either pass in multiple 
filtered subsets to our function or to pivot the dataset to have one column per city

In [9]:
rate['city_count'] = rate.groupby('City').cumcount()
rate

     Rate  City  city_count
0   13.75     1           0
1   13.75     1           1
2   13.50     1           2
3   13.50     1           3
4   13.00     1           4
5   13.00     1           5
6   13.00     1           6
7   12.75     1           7
8   12.50     1           8
9   14.25     2           0
10  13.00     2           1
11  12.75     2           2
12  12.50     2           3
13  12.50     2           4
14  12.40     2           5
15  12.30     2           6
16  11.90     2           7
17  11.90     2           8
18  14.00     3           0
19  14.00     3           1
20  13.51     3           2
21  13.50     3           3
22  13.50     3           4
23  13.25     3           5
24  13.00     3           6
25  12.50     3           7
26  12.50     3           8
27  15.00     4           0
28  14.00     4           1
29  13.75     4           2
30  13.59     4           3
31  13.25     4           4
32  12.97     4           5
33  12.50     4           6
34  12.25     4           7
35  11.89     4           8
36  14.50     5           0
37  14.00     5           1
38  14.00     5           2
39  13.90     5           3
40  13.75     5           4
41  13.25     5           5
42  13.00     5           6
43  12.50     5           7
44  12.45     5           8
45  13.50     6           0
46  12.25     6           1
47  12.25     6           2
48  12.00     6           3
49  12.00     6           4
50  12.00     6           5
51  12.00     6           6
52  11.90     6           7
53  11.90     6           8

In [11]:
rate_pivot = rate.pivot(index='city_count', columns='City', values='Rate')
rate_pivot

City            1      2      3      4      5      6
city_count
0           13.75  14.25  14.00  15.00  14.50  13.50
1           13.75  13.00  14.00  14.00  14.00  12.25
2           13.50  12.75  13.51  13.75  14.00  12.25
3           13.50  12.50  13.50  13.59  13.90  12.00
4           13.00  12.50  13.50  13.25  13.75  12.00
5           13.00  12.40  13.25  12.97  13.25  12.00
6           13.00  12.30  13.00  12.50  13.00  12.00
7           12.75  11.90  12.50  12.25  12.50  11.90
8           12.50  11.90  12.50  11.89  12.45  11.90

In [12]:
rate_pivot.columns = ['City_'+str(x) for x in rate_pivot.columns.values]
rate_pivot.head()

            City_1  City_2  City_3  City_4  City_5  City_6
city_count
0            13.75   14.25   14.00   15.00   14.50   13.50
1            13.75   13.00   14.00   14.00   14.00   12.25
2            13.50   12.75   13.51   13.75   14.00   12.25
3            13.50   12.50   13.50   13.59   13.90   12.00
4            13.00   12.50   13.50   13.25   13.75   12.00

 The f_oneway function requires us to specify each column that is passed into the function (rather than passing the entire dataframe)

In [21]:
f_oneway(rate_pivot.City_1,rate_pivot.City_2,rate_pivot.City_3,rate_pivot.City_4,rate_pivot.City_5,rate_pivot.City_6)

F_onewayResult(statistic=4.8293848737024, pvalue=0.001174551414504048)

This value is very small, certainly smaller than 0.05. Therefore, we reject the null hypothesis and conclude that the rates differ by city.

In [22]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [27]:
model = ols('Rate ~ C(City)', data=rate).fit()
model

In [28]:
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

             sum_sq    df         F    PR(>F)
C(City)   10.945667   5.0  4.829385  0.001175
Residual  21.758133  48.0       NaN       NaN

In [32]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Rate   R-squared:                       0.335
Model:                            OLS   Adj. R-squared:                  0.265
Method:                 Least Squares   F-statistic:                     4.829
Date:                Tue, 11 Jan 2022   Prob (F-statistic):            0.00117
Time:                        14:49:06   Log-Likelihood:                -52.080
No. Observations:                  54   AIC:                             116.2
Df Residuals:                      48   BIC:                             128.1
Df Model:                           5
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept       13.1944      0.224     58.793      0.000      12.743      13.646
C(City)[T.2]    -0.5833      0.317     -1.838      0.072      -1.221       0.055
C(City)[T.3]     0.1122      0.317      0.354      0.725      -0.526       0.750
C(City)[T.4]     0.0500      0.317      0.158      0.875      -0.588       0.688
C(City)[T.5]     0.2889      0.317      0.910      0.367      -0.349       0.927
C(City)[T.6]    -0.9944      0.317     -3.133      0.003      -1.633      -0.356
==============================================================================
Omnibus:                        3.616   Durbin-Watson:                   1.477
Prob(Omnibus):                  0.164   Jarque-Bera (JB):                2.624
Skew:                           0.487   Prob(JB):                        0.269
Kurtosis:                       3.466   Cond. No.                         6.85
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.